@charset "UTF-8";

/*共有部分*/
html {
  font: size 100%;
}
body {
  font-family: sans-serif;
  color: #5e5e5c;
  background-color:#CCD4CB;
 background-image: url(img/7.png);
    background-repeat: repeat;
background-size:45%;

}

a {
  text-decoration: none;
}
img {
  max-width: 600px;
}

.wrapper{
max-width:90%;
margin:0 auto;

}

.flex{
display:flex;
}



.back{
background-color:#fff;
margin:50px 50px;
padding-bottom:100px;
}


/*header----------------*/

.logo{
width:27%;
margin-left:20px;
}

.main-nav{
display:flex;
font-size:2rem;
list-style:none;
font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
margin-top:80px;
margin-right:20px;
}

.main-nav li{
margin-left:36px;

}

.main-nav a{
color:#444442;
}

.page-header{
display:flex;
justify-content:space-between;
height:10px;
}


/*main-title----------------*/

#hero{
background-image:url(img/mainpage.jpg);
background-position:center;
background-size:cover;
height:650px;
display:flex;
align-items:end;
margin-bottom:100px;
margin-top:150px;
border-radius:5px;
}

.hero-inner{
color:rgba(152, 113, 75,.65);
font-size:5.5rem;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

div .h2title{
font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
font-size:3rem;
color:##5E5E5C;
margin69px;
text-align:center;

}

.message{
font-family: "Kaisei Opti", serif;
  font-weight: 400;
  font-style: normal;
font-size:3.3rem;
text-align:center;
}

.message-margin{
margin:2px 0;
}

/*concept----------------*/
 
.contener{
justify-content:space-around;
align-content: space-between;
margin-top:250px;
}
.

.text{
margin-left:60px;
margin-top:20px;
}

.concept-title{
font-size:2rem;
font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.concept-img{
width:7%;
height:7%;
}

.shortcake{
transform:rotate(350deg);
margin-top:10px;
}

.tart{
transform:rotate(10deg);
margin-top:15px;
}

.RollCake{
margin-top:140px;
transform:rotate(980deg);
}

.Cake{
margin-top:140px;
transform:rotate(5deg);
}

.consept-text{
font-size:1.2rem;
line-height:1.7;
margin-bottom:100px;

}

.images-between{
text-align:center;
height:580px;
width:60%;
background-image:url(img/img.png);
background-size:cover;
background-repeat:no-repeat;
margin:0 auto;
margin-bottom:220px;
margin-top:50px;
}


/*もっとみる----------------*/

div .news-wrapper{
margin-top:300px;
}

div .news-margin{
padding-bottom:100px;

}

.page-numbers{
font-size:1.2rem;

margin-right:20px;

}

.numbers{

text-align:center;

}

.nb-1{
border:solid 1px #444442;;
border-radius: 50%;
padding:7px 17px;

}












/*product----------------*/



.product-inline{
display:flex

}


.product{

width:31%
}

.pr-img1,.pr-img3,.pr-img2{
width:100%;
}



.product-title{
font-size:1.3rem;
font-family: "Poppins", sans-serif;

  font-style: normal;
}

.product{
margin:20px;
}

.product-wrapper{
text-align:center;
}

.text-product{
text-align:left;
}

.size{
font-size:0.9rem;
margin-left:15px;
line-height:1.8;
}
/*botan----------------*/

.btn-flat-border {
  display: inline-block;
  padding: 0.7em 4em;
  text-decoration: none;
  color: #000;
  border: solid 1px #444442;
  border-radius: 40px;
  transition: .4s;
  font-size:1.2rem;
font-family: "Poppins", sans-serif;
  font-weight:400;
  font-style: normal;
  margin:100px;
}



.btn-flat-border:hover {
  background:rgba(152, 113, 75,.65);
  color: white;
}

.button{
text-align:center;
}

.space{
margin-left:40px;
}

/*トップ　コンタクト----------------*/

div .top-contact{
font-size:1.3rem;
text-align:center;
line-height: 1.8;
}

div .contact-back{

padding-top:40px;
border:double thick #AD9174;
border-radius: 47%;
width:63%;

}


/*news----------------*/

table td{
padding:20px;
font-size:1.2rem;
border-bottom:2px dashed #E3E3E3;

}

.news-table{
margin:0 auto;
width:65%;
}

.day{
border-bottom:5px solid #98714B;
text-align:center;
}

.footer {
width:100%;
background:#ad9174;
text-align:center;
padding:26px 0;
margin-top:100px;
}

.footer p {
color:#fff;
font-size:0.875rem;
}

a{
color:#5E5E5C;
}

a:hover{
color:#eda724;
}

/*about----------------*/

.margin-top{
margin-top:60px;
}
.big-bg{
background-image:url(img/img.jpg);
border-radius:5px;
margin:10px;
background-size:cover;
height:80vh;
margin-top:155px;
}

.big-bg1{
background-image:url(img/IMG_6018.JPG);
border-radius:5px;
margin:10px;
background-size:cover;
height:80vh;
margin-top:155px;
}

.page-title{
padding-top:220px;
text-align:center;
font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
font-size:7rem;
color:rgba(94, 94, 92,.8);
text-shadow: 0px 0px 13px rgba(247, 243, 242, .4);

}

.pagetop{
text-align:center;
}

iframe{
width:80%;
}

.map{
text-align:center;
margin:50px 0;
}

.about-table{
padding-bottom:100px;
}

/*menu----------------*/

.grid{
display: grid;
gap:26px;
grid-template-columns:1fr 1fr 1fr;
margin-top:6%;
margin-bottom:50px;
text-align:center;
padding-bottom:100px;
}

.menu-img{
width:70%;
}

/*contact----------------*/

div.contact-text{
text-align:center;
margin-bottom:100px;
background-color:#BCA38A;
color:#fff;
padding:10px;
font-size:1.2rem;
border-radius: 5px;;
}

.essential{
background-color:red;
padding:2px;
color:#fff;
border-radius:5px;
margin-right:10px;
font-size:0.7rem;
}


form div{
margin-bottom:14px;
text-align:center;
}

label{
font-size:1.3rem;
margin-bottom:10px;
display:block;
padding:5px;
}

input[type="text"],input[type="tel"],input[type="email"],textarea{
background:rgba(255,255,255,.5);
border-radius:5px;
border:1px #000 solid;
padding:10px;
font-size:1rem;

}

input[type="text"],input[type="tel"],input[type="email"]{
width:100%;
max-width:800px;
height:35px;
}
textarea{
width:100%;
max-width:800px;
height:120px;
}

input[type="submit"]{
padding:10px 40px;
margin-bottom:100px;

}

.label-name{
display: inline-block;
width:60%;
text-align:left;
}



/*モバイル版----------------*/

@media(max-width:600px){



html {
  font: size 100%;
}
body {
  font-family: sans-serif;
  background-size:45%;

}

a {
  text-decoration: none;
}


.wrapper{
max-width:100%;
margin:0 auto;
}


.back{
margin:15px 15px;
padding-bottom:25px;
}
/*header----------------*/

.logo{
width:50px;;

}

.page-header{
height:75px;
margin:0 auto;

}

.main-nav{
display:flex;
font-size:1rem;
list-style:none;
font-family: "Poppins", sans-serif;
font-style: normal;
margin-top:30px;
margin-right:20px;
}

.main-nav li{
margin:10px;

}





/*main-title----------------*/

#hero{
height:270px;
border-radius:5px;
display:flex;
align-items:end;
margin:0 auto;
width:97%;
}

.hero-inner{
font-size:2.3rem;
font-family: "Dancing Script", cursive;
font-optical-sizing: auto;
font-style: normal;
 
}

div .h2title{
font-family: "Sawarabi Mincho", serif;
font-weight: 400;
font-style: normal;
font-size:1.5rem;
margin:25px 0;


}

.message{
font-family: "Kaisei Opti", serif;
font-weight: 400;
font-style: normal;
text-align:center;
font-size:1.3rem;
margin-bottom:50px;
margin-top:70px;
}

.message-margin{
margin:8px 0;
}

/*concept----------------*/
 
.contener{
justify-content:space-around;
align-content: space-between;
margin-top:10px;
}

.concept-title{
font-size:1.2rem;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
}
.concept-img{
width:8.5%;
height:8.5%;
}

.shortcake{
transform:rotate(350deg);
margin-top:15px;
}

.tart{
transform:rotate(10deg);
margin-top:15px;
}

.RollCake{
margin-top:100px;
transform:rotate(980deg);
display:none
}

.Cake{
margin-top:100px;
transform:rotate(5deg);
display:none
}

.consept-text{
font-size:0.75rem;
line-height:1.8;
margin-bottom:30px;

}

.images-between{
height:230px;
width:100%;
margin:0 auto;
margin-bottom:60px;
}

/*もっとみる----------------*/

div .news-wrapper{
margin-top:60px;
}

div .news-margin{
padding-bottom:60px;
}

.page-numbers{
font-size:0.7rem;
margin-right:20px;
}

.numbers{

}

.nb-1{
padding:0 5px;
}





/*product----------------*/



.product-inline{
display:block;
}


.product{
width:100%
}

.pr-img1,.pr-img3,.pr-img2{
width:100%;
}



.product-title{
font-size:1rem;
}



.product-wrapper{
text-align:center;
}

.text-product{
text-align:left;
}

.size{
font-size:0.7rem;
line-height:1.8;
padding-right:15px;
}
/*botan----------------*/

.btn-flat-border {
display: inline-block;
padding: 0.5rem 1.5rem;
text-decoration: none;
border: solid 1px #000;
border-radius: 20px;
transition: .4s;
font-size:0.7rem;
font-family: "Poppins", sans-serif;
font-weight: 300;
font-style: normal;
margin-top:30px;
margin-bottom:40px;
}


.space{
margin-left:17px;
}

/*トップ　コンタクト----------------*/

div .top-contact{
font-size:0.7rem;
text-align:center;
line-height: 1;
}

div .contact-back{

padding-top:40px;
border-radius: 47%;
width:97%;
border:double  #AD9174;
}

.btn-flat-border2 {
display: inline-block;
padding: 0.7em 1em;
text-decoration: none;
border: solid 1px #000;
border-radius: 20px;
transition: .4s;
font-size:0.6rem;
font-family: "Poppins", sans-serif;
font-weight: 300;
font-style: normal;
margin-top:30px;
margin-bottom:40px;
}
/*news----------------*/

table td{
padding:7px 0;
font-size:0.7rem;
border-bottom:2px medium #E3E3E3;

}

.news-table{
margin:0 auto;
width:90%;
}

.day{
border-bottom:4px solid #98714B;
text-align:center;
}

.footer {
width:100%;
text-align:center;
padding:10px 0;
margin-top:100px;
}

.footer p {
font-size:0.5rem;
}


/*about----------------*/
iframe{
width:100%;
height:40vh;
}

.map{
text-align:center;
margin-bottom:30px;
}

.about-table{
padding-bottom:100px;
}

.big-bg{
height:35vh;
margin-bottom:25px;
margin-top:3px;
width:97%;
margin:0 auto;
border-radius:5px;
}

.big-bg1{
height:35vh;
margin-top:3px;
width:97%;
margin:0 auto;
border-radius:5px;
}

.page-title{
padding-top:90px;
text-align:center;
font-family: "Sawarabi Mincho", serif;
font-style: normal;
font-size:2.7rem;
color:rgba(94, 94, 92,.8);
text-shadow: 3px 3px 13px rgba(247, 243, 242, .5);
}

/*menu----------------*/

.grid{
display:block;
text-align:center;
}

.menu-img{
width:100%;
}

.menu-text{
font-size:0.8rem;
}
/*contact----------------*/


div.contact-text{
text-align:center;
margin-top:10px;
margin-right:5px;
margin-left:5px;
margin-bottom:50px;
background-color:#BCA38A;
padding:2px;
font-size:0.5rem;
}

.essential{
padding:2px;
color:#fff;
border-radius:2px;
margin-right:3px;
font-size:0.5rem;
}


form div{
margin-bottom:7px;
}

label{
font-size:1rem;
margin-bottom:7px;
display:block;
}

input[type="text"],input[type="tel"],input[type="email"],textarea{
background:rgba(255,255,255,.5);
border-radius:5px;
border:1px #000 solid;
padding:10px;
font-size:1rem;
}

input[type="text"],input[type="tel"],input[type="email"]{
width:100%;
max-width:240px;
height:1rem;
}
textarea{
width:90%;
max-width:480px;
height:5rem;
}

input[type="submit"]{
padding:10px 40px;
margin-bottom:100px;
}


.label-name{

width:70%;
}



}
